# Allowed Origin for CORS
CORS_ALLOWED_ORIGIN="https://example-frontend.com"

# Base URL for the API service
BASE_URL="https://weatherapi-com.p.rapidapi.com"

# API Host Header Name and Value
API_HOST_HEADER_NAME="X-RapidAPI-Host"
API_HOST_HEADER_VALUE="weatherapi-com.p.rapidapi.com"

# API Key Header Name and Value
API_KEY_HEADER_NAME="X-RapidAPI-Key"
API_KEY_HEADER_VALUE="secure-api-key"